*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: title_light;
    src: url(FSElliotPro-Light.ttf);
}
@font-face {
    font-family: title_bold;
    src: url(FSElliotPro-Bold.ttf);
}
@font-face {
    font-family: normal;
    src: url(FSElliotPro.ttf);
}
.container{
    background-color: #4829b2;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: radial-gradient(ellipse 100% 200% at 100% 200%, #5134b6 90%, #0000 90%);
}
.header{
    border-bottom: 1px solid rgb(53, 53, 53);
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size:1.2rem;
}
.sublist{
    list-style: none;
    display:flex;
}
.list_item{
    margin: auto;
    text-align: center;
    padding-right: 20px;
    display: flex;
    font-family: normal;
    font-size: smaller;
}
.logo{
    padding: 10%;
}
.list_item:hover{
    cursor: pointer;
    opacity: 0.7;
}
.button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.logo:hover{
    cursor: pointer;
    opacity: 0.7;
}
.special::after{
    content: " +";
}
.content{
    margin-top: 12%;
    text-align: center;
}
.click{
    margin-top:30px
}
.title{
    font-size:77px;
    font-family: title_light;
    font-weight: 500;
}
.bold{
    font-size:77px;
    font-family: title_bold;
    font-weight: 500;
}
.des{
    padding-top: 20px;
    font-size:20px;
    font-family: title_light;
}
/*.button+.button{
    margin-left:20px
}*/
.button{
    margin-left: 20px;
    width:150px;
    padding:15px 20px;
    font-size:15px;
    font-family: title_bold;
    border-radius:30px;
}
.purchase{
    background-color: white;
    border: none;
}
.purchase:hover{
    opacity: 0.7;
}
.view_demos{
    background-color:transparent;
    border: 1px solid whitesmoke;
    color:white;
}
.view_demos:hover{
    opacity: 0.7;
}